body
{
    background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.panel
{
    margin-bottom: 0px;
}
.checkout-step 
{     
    /*background: #e8eef1;*/

    background: #83a4d4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    border-top: 1px solid #607d8b21;
    color: #666;
    font-size: 14px;
    padding: 15px 10px;
    position: relative;
}

.checkout-step-number 
{
    border-radius: 50%;
    /* border: 1px solid #ced0d2; */
    display: inline-block;
    background: #065c9f;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 32px;
    margin-right: 15px;
    padding: 6px;
    text-align: center;
    width: 32px;
}
.checkout-step-title
{ 
    font-size: 16px;
    font-weight: 500;
    vertical-align: middle;display: inline-block; margin: 0px;
    color: #3d4884;
}

.checkout-step-body
{
    background: #fbfbfb;
    padding: 15px 0px;
    margin: 20px 0px 0px;
}

/*Shyam*/

.imi-joingform
{
    margin-top: 50px;
}

.imc-jfheader
{
    background: #7c7979;
    color:#fff;
    padding: 15px;
}

.imc-text h1
{
    font-size: 20px;
    color: #00BCD4;
}

.imc-text h2
{
    font-size: 12px;
}

.imc-jfeditbtn
{
    padding: 5px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    background: #29506f;
}


/*collapse-2*/

.step-heading {
	height: 33px;
	padding-bottom: 50px;
	cursor: pointer;
    }
    .step:last-child .step-heading {
	padding-bottom: 0;
    }
    .step-heading > a:hover {
	text-decoration: none;
    }
    .step-heading .num {
	width: 32px;
	height: 32px;
    }
    .steps .step .line {
	border-left: 1px solid #333;
	left: 16px;
	bottom: 0px;
	top: 32px;
    }

/*colapse-3*/


.body-3{ 
	margin-top:40px; 
    }
    
    .stepwizard-step p {
	margin-top: 10px;
    }
    
    .stepwizard-row {
	display: table-row;
    }
    
    .stepwizard {
	display: table;
	width: 100%;
	position: relative;
    }
    
    .stepwizard-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
    }
    
    .stepwizard-row:before {
	top: 14px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #ccc;
	z-order: 0;
    
    }
    
    .stepwizard-step {
	display: table-cell;
	text-align: center;
	position: relative;
    }
    
    .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }